<div class="flex justify-center w-full">
  <form action="/{{#if bucket}}bucket/{{bucket.id}}{{else}}new-bucket{{/if}}" method="POST" class="lg:min-w-[582px]">
    {{> csrftokeninput }}

    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">{{#if
        bucket}}Update{{else}}Create{{/if}} S3 Bucket</h3>
      <p class="text-gray-500 dark:text-gray-400">Fill out the form to {{#if bucket}}update{{else}}create{{/if}} a new
        S3 bucket.</p>
    </div>
    <div class="p-6 space-y-4">
      <div class="grid gap-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="name">
          Name
        </label>
        <input required value="{{bucket.name}}" autofocus
          class="dark:text-black flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="name" name="name" placeholder="Enter name" />
      </div>
      <div class="grid gap-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="bucket-name">
          Bucket name
        </label>
        <input required value="{{bucket.bucketName}}"
          class="dark:text-black flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="bucket-name" name="bucketName" placeholder="Enter bucket name" />
      </div>
      <div class="grid gap-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="endpoint">
          Endpoint
        </label>
        <input required value="{{bucket.endpoint}}"
          class="dark:text-black flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="endpoint" name="endpoint" placeholder="Enter endpoint URL" />
      </div>
      <div class="grid gap-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="access-key">
          Access Key ID
        </label>
        <input required value="{{bucket.accessKeyId}}"
          class="dark:text-black flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="access-key" name="accessKey" placeholder="Enter access key ID" />
      </div>
      <div class="grid gap-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="secret-key">
          Secret Access Key
        </label>
        <input required value="{{bucket.secretAccessKey}}" autocomplete="off"
          class="dark:text-black flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="secret-key" name="secretKey" placeholder="Enter secret access key" />
      </div>
      <div class="flex items-center space-x-2">
        <input aria-hidden="true" id="s3-disable-host-prefix" tabindex="-1" type="checkbox" value="true" {{#if
          bucket.disableHostPrefix}}checked{{/if}} name="disableHostPrefix" />
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="s3-disable-host-prefix">
          S3 disable host prefix
        </label>
      </div>
      <div class="flex items-center space-x-2">
        <input aria-hidden="true" id="s3-force-path-style" tabindex="-1" type="checkbox" value="true" {{#if
          bucket.forcePathStyle}}checked{{/if}} name="forcePathStyle" />
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="s3-force-path-style">
          S3 force path style
        </label>
      </div>
    </div>
    <div class="flex items-center p-6">
      <button type="submit"
        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full">
        {{#if bucket}}Update{{else}}Create{{/if}}
      </button>
      {{#if bucket}}
      <button onclick="deleteBucket('{{bucket.id}}')"
        class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-full"
        type="button" role="button">
        Delete
      </button>
      {{/if}}
    </div>
  </form>
</div>

<script>
  async function deleteBucket(id) {
    if (!(await ask('Are you sure you want to delete this bucket?', 'This action will delete the bucket and all its associated database declarations'))) {
      return;
    }
  
    fetch(`/bucket/${id}`, {
      method: 'DELETE',
      headers: {
        {{!-- 'x-csrf-token': '{{_csrf}}' --}}
      },
      {{!-- credentials: 'include' --}}
    }).then(() => {
      window.location.href = '/new-bucket';
    }); 
    
  }
</script>